<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SpriteSheets/GameElements/chainball_ball.png</key>
		<dict>
			<key>frame</key>
			<string>{{1775, 1}, {208, 208}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {208, 208}}</string>
			<key>sourceSize</key>
			<string>{208, 208}</string>
		</dict>
		<key>SpriteSheets/GameElements/chainball_chain1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 940}, {27, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {27, 68}}</string>
			<key>sourceSize</key>
			<string>{27, 68}</string>
		</dict>
		<key>SpriteSheets/GameElements/chainball_chain2.png</key>
		<dict>
			<key>frame</key>
			<string>{{30, 940}, {39, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {39, 66}}</string>
			<key>sourceSize</key>
			<string>{39, 66}</string>
		</dict>
		<key>SpriteSheets/GameElements/circularsaw1.png</key>
		<dict>
			<key>frame</key>
			<string>{{940, 1}, {833, 833}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {833, 833}}</string>
			<key>sourceSize</key>
			<string>{833, 833}</string>
		</dict>
		<key>SpriteSheets/GameElements/gear1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {937, 937}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {937, 937}}</string>
			<key>sourceSize</key>
			<string>{937, 937}</string>
		</dict>
		<key>SpriteSheets/GameElements/springboard_board.png</key>
		<dict>
			<key>frame</key>
			<string>{{71, 987}, {208, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {208, 26}}</string>
			<key>sourceSize</key>
			<string>{208, 26}</string>
		</dict>
		<key>SpriteSheets/GameElements/springboard_metal.png</key>
		<dict>
			<key>frame</key>
			<string>{{71, 940}, {208, 45}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {208, 45}}</string>
			<key>sourceSize</key>
			<string>{208, 45}</string>
		</dict>
		<key>SpriteSheets/GameElements/springboard_spring.png</key>
		<dict>
			<key>frame</key>
			<string>{{940, 836}, {127, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {127, 117}}</string>
			<key>sourceSize</key>
			<string>{127, 117}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>textureFileName</key>
		<string>GameElements.png</string>
	</dict>
</dict>
</plist>
