<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SpriteSheets/Global/player-anim1.png</key>
		<dict>
			<key>frame</key>
			<string>{{394, 1}, {132, 132}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 132}}</string>
			<key>sourceSize</key>
			<string>{132, 132}</string>
		</dict>
		<key>SpriteSheets/Global/player-anim2.png</key>
		<dict>
			<key>frame</key>
			<string>{{394, 135}, {132, 132}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 132}}</string>
			<key>sourceSize</key>
			<string>{132, 132}</string>
		</dict>
		<key>SpriteSheets/Global/player-anim3.png</key>
		<dict>
			<key>frame</key>
			<string>{{528, 1}, {132, 132}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 132}}</string>
			<key>sourceSize</key>
			<string>{132, 132}</string>
		</dict>
		<key>SpriteSheets/Global/player.png</key>
		<dict>
			<key>frame</key>
			<string>{{528, 135}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>SpriteSheets/Global/playereyes1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 662}, {266, 266}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {266, 266}}</string>
			<key>sourceSize</key>
			<string>{266, 266}</string>
		</dict>
		<key>SpriteSheets/Global/playereyes2.png</key>
		<dict>
			<key>frame</key>
			<string>{{269, 394}, {266, 266}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {266, 266}}</string>
			<key>sourceSize</key>
			<string>{266, 266}</string>
		</dict>
		<key>SpriteSheets/Global/playereyes3.png</key>
		<dict>
			<key>frame</key>
			<string>{{269, 662}, {266, 266}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {266, 266}}</string>
			<key>sourceSize</key>
			<string>{266, 266}</string>
		</dict>
		<key>SpriteSheets/Global/playerfaceless.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {391, 391}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 391}}</string>
			<key>sourceSize</key>
			<string>{391, 391}</string>
		</dict>
		<key>SpriteSheets/Global/playermouth.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 394}, {266, 266}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {266, 266}}</string>
			<key>sourceSize</key>
			<string>{266, 266}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>Global.png</string>
	</dict>
</dict>
</plist>
